@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './variables.scss';

/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
}

.profile-image {
    border-radius: 50%;
    width: 47px;
    height: 47px;
    margin: 3px 10px 3px 3px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: inset 0 1.5px 3px 0 rgb(0 0 0 / 15%), 0 1.5px 3px 0 rgb(0 0 0 / 15%);    
}

.success-snackbar {
    background: $success-color;
    color: #000000;
    .mat-simple-snackbar-action {
        color: #000000;
    }
}

.failure-snackbar {
    background: $error-color;
    color: #000000;
    .mat-simple-snackbar-action {
        color: #000000;
    }
}

button {
    all: unset;
    cursor: pointer;
}

button:focus {
    outline: orange 5px auto;
}

.Button {
    background: $button-color;
    padding: 10px;
    border: none;
    color: #000000;
    
    &--buy-button {
        font-weight: 500;
    }

    &--claim {
        color: #ffffff;
        background: #46b58f;
        margin: 10px 0px 0px 0px;
    }
    
    &--secondary {
        box-shadow: inset 0px 0px 0px 3px $button-color;
        background: none;
        color: #ffffff;
    }
    
    &--secondary-white {
        color: #000000;
        padding: 10px 15px;
    }

    &__icon {
        margin-right: 10px;
    }
}

.error-loading {
    text-align: center;
    color: #000000;
    font-size: 18px;
}

